@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply py-2 px-4 ml-6 bg-rose-500 text-white font-semibold rounded-lg shadow-md hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }

    ul li a{
      @apply rounded py-[7px] px-[13px] text-[18px] font-bold hover:bg-slate-300 
      font-sans

    }
  
    .bg-light-orange {
       background:#f9f8f8 ;
    }
    .text-orange{
       color:#ff5421
    }
    .text-navy{
       color:#031a3d
    }
    .btn-orange{
      @apply bg-[#ff5421] outline-none text-white hover:bg-[#ed3600]
    }
  }