@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply py-2 px-4 ml-6 bg-rose-500 text-white font-semibold rounded-lg shadow-md hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }

    ul li a{
      @apply rounded py-[7px] px-[13px] text-[18px] font-bold hover:bg-slate-300 
      font-sans

    }
  
    .bg-light-orange {
       background:#f9f8f8 ;
    }
    .text-orange{
       color:#ff5421
    }
    .text-navy{
       color:#031a3d
    }
    .btn-orange{
      @apply bg-[#ff5421] outline-none text-white hover:bg-[#ed3600]
    }
  }

  @layer utilities {
    .btn-position{
      top: 90%;
      right: 40%;
    }
  }


  .job-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }
  /* .job-pagination li {
    margin-right: 10px !important;
  } */
  
  .job-pagination a {
    font-weight: bold !important;
    color: #031a3d !important;
  }
  
  .job-pagination .selected a {
    color: black !important;
  }
  .hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }
  


  /* tabs */
  .bloc-tabs {
    display: flex;
    justify-content: space-around;
  }
  .tabs {
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-family: nunito,sans-serif;
  }
  @media screen and (max-width:420px) {
    .tabs {
      padding: 8px 5px;
    }
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
    color: #ff5421 !important;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 2px;
    background:#ff5421;
  }
  
  
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 20px 0px;
    color: #101010;
    font-size: 22px;
    line-height: 32px;
    font-family: nunito,sans-serif;
    font-weight: 700;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .tab-card{
    box-shadow: 0 0 35px #eee;
  }
  .content p {
    width: 100%;
    height: 100%;
    color: #666;
    font-size: 16px;
    font-weight: 300;
    font-family: nunito,sans-serif;
  }
  .active-content {
    display: block;
  }